<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Database" connectionString="Server=.;Database=GlessInventory;Trusted_Connection=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <POS.Properties.Settings>
      <setting name="HeaderColor" serializeAs="String">
        <value>76, 175, 80</value>
      </setting>
      <setting name="MenuBarColor" serializeAs="String">
        <value>67, 82, 89</value>
      </setting>
      <setting name="ForeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="OnHoverColor" serializeAs="String">
        <value>69, 105, 87</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>48, 62, 69</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>Gles William's</value>
      </setting>
      <setting name="RegisterationNumber" serializeAs="String">
        <value>00000</value>
      </setting>
      <setting name="ManagerName" serializeAs="String">
        <value>Usama Aziz</value>
      </setting>
      <setting name="VAT" serializeAs="String">
        <value />
      </setting>
      <setting name="Capital" serializeAs="String">
        <value />
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
      <setting name="Tel1" serializeAs="String">
        <value />
      </setting>
      <setting name="Tel2" serializeAs="String">
        <value />
      </setting>
      <setting name="NoStat" serializeAs="String">
        <value />
      </setting>
      <setting name="NoRCCM" serializeAs="String">
        <value />
      </setting>
      <setting name="Email" serializeAs="String">
        <value />
      </setting>
      <setting name="BankAccount1" serializeAs="String">
        <value />
      </setting>
      <setting name="BankAccount2" serializeAs="String">
        <value />
      </setting>
      <setting name="BankAccount3" serializeAs="String">
        <value />
      </setting>
      <setting name="BankAccount4" serializeAs="String">
        <value />
      </setting>
      <setting name="Message1" serializeAs="String">
        <value />
      </setting>
      <setting name="Message2" serializeAs="String">
        <value />
      </setting>
    </POS.Properties.Settings>
  </userSettings>
</configuration>